.row
  display: flex
  flex-direction: row
  flex-wrap: wrap
  & > div
    margin: 1rem

.name-changer
  border: 2px solid  #c9c5c5
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  width: 50%
  margin: auto



h1
  text-align: center
  color: red

.container-control
  padding: 1rem
